.navbar
{
    background-color: rgb(156, 156, 156);
}

.navbar-light .navbar-nav .nav-link
{
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}