<section class="about container">
    <h1 class="text-center mb-5">About Us</h1>
    <p>
        Smartphones have made life simpler and easier than before. The digitalization of everything has taken technology one notch higher. It has become easy for people to avail of all sorts of services these days.<br><br>Wash My Car is the mobile car wash industry leader bringing the car wash directly to your home or work.
                <br><br>Wash My Car is the most affordable on-demand car wash app in the industry. Our proprietary software uses your service location and vehicle type to ensure you get the best price.Our app allows you to choose a wash now or schedule for later. You don’t need to wait hours for service; the on-demand feature allows a professional detailer to be at your door in as soon as five minutes.
    </p>
    <div class="follow text-center">
        <h4>Follow us</h4>
        <a href="#">Facebook</a>
        <a href="#">YouTube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>